.music-person-page-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-music-body h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-with-desc{
    display: flex;
    width: 1000px;
    text-wrap: wrap;
    margin-top: 100px;
    text-align: justify;
    font-size: 19px;
    padding: 20px;
    border-radius: 15px;
}

.img-with-desc img{
    height: 220px;
    width: 275px;
    margin-right: 20px;
    border-radius: 15px;
}

.total-audio-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-audio-box audio{
    margin-bottom: 10px;
    margin-top: 10px;
}

.audio-head h1{
    text-align: center;
    font-size: 50px;
}

.songs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.256);
    border-radius: 15px;
}